.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-inline-size: 320px;
  block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  padding-block-start: 100px;
  color: var(--accent-color);
  background-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px), linear-gradient(to bottom, #e7e7e7 0% 0.01%, #1a1a1a 100%);
  background-attachment: fixed;
  background-size: 100%;
  margin: auto;
}

.blocks-width {
  max-inline-size: var(--blocks-width);
}

.border {
  border: var(--border);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  background-color: var(--main-color);
  inline-size: var(--blocks-width);
}

.accent-titles {
  font-family: var(--accent-font), fantasy;
  font-weight: normal;
}

.logo-title {
  font-size: var(--accent-font-title-size);
  margin-block-end: 20px;
}

.logo-subtitle {
  font-size: var(--accent-font-subtitle-size);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding-block-end: clamp(6.25rem, 0.282vw + 6.184rem, 6.438rem);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-block-start: 50px;
  max-inline-size: var(--blocks-width);
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  background-color: var(--main-color);
  inline-size: var(--blocks-width);
}

.card-title {
  font-size: var(--main-font-size);
  padding: 4px 12px 4px 10px;
  display: inline-block;
  text-shadow: var(--shadow-property);
  font-variation-settings: "wght" var(--main-font-title-weight);
}

.card-pic-sign {
  position: relative;
  inline-size: 100%;
  min-inline-size: 371px;
  aspect-ratio: 1/1;
  min-block-size: 373px;
  border-block: var(--border);
  box-shadow: var(--shadow-property);
}

.pic {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 696px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.filters__contrast__opacity-more {
  filter: contrast(1.2) opacity(80%);
}

.filter__opacity-more {
  filter: opacity(80%);
}

.filters__opacity-less__blur {
  filter: opacity(70%) blur(1px);
}

.filters__hue-rotete-more__opacity-more {
  filter: hue-rotate(24deg) opacity(80%);
}

.filter__opacity-less {
  filter: opacity(70%);
}

.filter-hue-rotete-more {
  filter: hue-rotate(24deg);
}

.filters__brightness__opacity-more {
  filter: brightness(80%) opacity(80%);
}

.filters__hue-rotete-less__opacity-more {
  filter: hue-rotate(9deg) opacity(80%);
}

.card-subtitle_watermark {
  position: absolute;
  top: 25px;
  right: 11px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px var(--text-stroke-property);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  opacity: 50%;
}

@supports ((text-stroke: 1px var(--text-stroke-property)) or (-webkit-text-stroke: 1px var(--text-stroke-property))) {
  .card-subtitle_watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--text-stroke-property);
      text-stroke: 1px var(--text-stroke-property);
  }
}

.card-text {
  padding-inline: 25px 25px;
  padding-block-start: 3px;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--main-font-text-weight);
  line-height: 21px;
  letter-spacing: 0;
}

.start .card-text:nth-of-type(1) {
  padding-block-start: 5px;
}

.initial-sprint__result .card-text:nth-of-type(1) {
  padding-block-start: 4px;
}

.environment .card-text:nth-of-type(1) {
  padding-block-start: 4px;
}

.past-sprint .card-text:nth-of-type(1) {
  padding-block-start: 5px;
}

.current-stage .card-text:nth-of-type(1) {
  padding-block-start: 5px;
}

.buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding-block-end: 25px;
  padding-inline: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 38px;
  background-color: transparent;
  border: var(--border);
}

.button:hover {
  cursor: pointer;
}

.card__icon-button {
  padding: 0;
  border: transparent solid 2px;
  border-radius: 0%;
  block-size: 38px;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s 0.05s linear;
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s 1 ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s 1 ease-in;
}

.card__like-button {
  min-inline-size: 130px;
  border: var(--border);
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.button__simple-style-animation {
  position: relative;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.button__simple-style-animation:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__simple-style-animation::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  display: block;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__simple-style-animation:hover::before {
  transform: scaleX(1);
}

.call-dialog {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  inline-size: var(--blocks-width);
  container-type: inline-size;
  container-name: saver;
}

.call-dialog-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 14px;
  padding-block-end: 15px;
  min-inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  background-color: var(--main-color);
}

.floppy {
  aspect-ratio: 1/1;
}

.dialog-icon {
  inline-size: 39px;
  align-self: center;
}

.call-dialog-button-icon {
  inline-size: 28px;
  color: var(--main-color);
  stroke: var(--main-color);
  stroke-width: 2px;
  mix-blend-mode: difference;
}

@container saver (inline-size >= 576px) {
  .call-dialog-button {
      flex-direction: row;
      padding-block-end: 17px;
      gap: 8px;
  }

  .call-dialog-button-icon {
      inline-size: 21px;
  }

  .call-dialog__button-text {
      padding-block-start: 8px;
  }
}

.dialog-window {
  padding-block: 25px 28px;
  padding-inline: 40px 36px;
  inline-size: calc(100% - 34px);
}

.dialog-window[open] {
  display: grid;
  grid-template-columns: 59px 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog-text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  min-width: 257px;
  margin-block-start: 30px;
}

.dialog-button-text {
  text-transform: uppercase;
}

@media (width > 375px) {
  .dialog-window {
      max-inline-size: 353px;
      padding-inline: 25px 30px;
      padding-block: 25px;
  }
  .dialog-button {
      min-width: 293px;
  }
}

@media (width >= 1440px) {
  .prestart .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .start .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .initial-sprint__result .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .ideal .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .environment .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .past-sprint .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .time-trouble .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
  .current-stage .card-text:nth-of-type(1) {
      padding-block-start: 6px;
  }
}